<div class="small-2 small-centered columns">  
  <h1>Task Entries</h1>
</div>
<table class="small-12 small-centered colums">
  <tr>
    <th>id</th>
    <th>Task</th>
    <th>Duration</th>
    <th>Note</th>
    <th>Start Time</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <% @te.each do |user| %>
    <tr>
      <td><%=user.id%></td>
      <td><%=link_to user.id, {:controller => :task_entries, :action => 'show', :id => user.id},:class=>"btn-link"%></td>
      <td><%=link_to user.task.task_name,{:controller => :tasks, :action=>'show',:id=>user.task.id},:class=>"btn-link"%></td>
      <td><%=user.duration%></td>
      <td><%=user.note%></td>
      <td><%=user.start_time%></td>
      <td><%=user.created_at%></td>
      <td><%=user.updated_at%></td>
      <td><%=link_to 'edit', {:controller => :task_entries, :action => 'edit', :id => user.id},:class=>"button"%></td>
      <td><%=button_to 'Delete', {:controller => :task_entries, :action => 'destroy', :id => user.id}, {:method => :delete,  :class=>"button"}%></td>
    </tr>
  <% end %>
</table>
