<%=form_for @te do |f|%>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Task", class: "label"%><br/>
      <%= f.collection_select :task_id, Task.all, :id, :task_name%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Note", class: "label"%><br/>
      <%= f.text_field :note%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.submit class: "button"%><br/>
    </div>
  </div>
<%end%>
