<%title = "Edit Task Number " + @task.id.to_s%>
<% provide(:title,title) %>
<%=form_for @task do |f|%>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Task Name", class: "label"%><br/>
      <%= f.text_field :task_name%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Project", class: "label"%><br/>
      <%= f.collection_select :project_id, Project.all, :id, :project_name%>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "User", class: "label"%><br/>
      <%= f.collection_select :user_id, User.all, :id, :username%>
    </div>
  </div>
  <div class ="small-1 small-centered columns">
    <%= f.submit "Update", class: "button"%>
  </div>
<%end%>
