<div class="small-1 small-centered columns">
  <h1>Tasks</h1>
</div>
<%=link_to("New Task", {:controller => :tasks, :action => :new}, :class=>"button")%>
<table class="small-12 small-centered colums">
  <tr>
    <th>id</th>
    <th>Task Name</th>
    <th>Project</th>
    <th>User</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <% @task.each do |user| %>
    <tr>
      <td><%=user.id%></td>
      <td><%=link_to user.task_name, {:controller => :tasks, :action => 'show', :id => user.id},:class=>"btn-link"%></td>
      <td><%=link_to user.project.project_name,{:controller => :projects, :action=>'show',:id=>user.project.id},:class=>"btn-link"%></td>
      <td><%=link_to user.user.username,{:controller => :users, :action=>'show',:id=>user.user.id},:class=>"btn-link"%></td>
      <td><%=user.created_at%></td>
      <td><%=user.updated_at%></td>
      <td><%=link_to 'edit', {:controller => :tasks, :action => 'edit', :id => user.id},:class=>"button"%></td>
      <td><%=button_to 'Delete', {:controller => :tasks, :action => 'destroy', :id => user.id}, {:method => :delete, :class => "button"}%></td>
    </tr>
  <% end %>
</table>
