<%=form_for @task do |f|%>
<div class="row">
<div class="small-centered columns-1">
  <%= f.label "Task Name", :class=>"label" %><br/>
  <%= f.text_field :task_name%><br/>

</div>
</div>

<div class="row">
<div class="small-centered columns-1">
  <%= f.label "Project", :class=>"label"%><br/>
  <%= f.collection_select :project_id, Project.all, :id, :project_name%><br/>
</div></div>
<div class="row">
<div class="small-centered columns-1">
  <%= f.label "User", :class=>"label"%><br/>
  <%= f.collection_select :user_id, User.all, :id, :username, {:selected=>current_user.id}%><br/>
  <%= f.submit "Create",:class=>"button"%>
</div>
</div>
<%end%>

