<h1>Users</h1>
<table>
  <tr>
   <th>id</th>
   <th>UserName</th>
   <th>Email</th>
   <th>Created At</th>
   <th>Updated At</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%=user.id%></td>
      <td><%=user.username%></td>
      <td><%=user.email%></td>
      <td><%=user.created_at%></td>
      <td><%=user.updated_at%></td>
      <td><%=link_to 'edit', {:controller => :users, :action => 'edit', :id => user.id},:class=>"btn-edit"%></td>
      <td><%=button_to 'Delete', {:controller => :users, :action => 'destroy', :id => user.id}, {:method => :delete, :form => {:class => "btn-delete"}}%></td>
    </tr>
  <% end %>
</table>
