<% provide(:title,"Register") %>
<%=form_for @user do |f|%>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Username",class:"label"%><br/>
      <%= f.text_field :username%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Email",class: "label"%><br/>
      <%= f.text_field :email%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Password", class: "label" %><br/>
      <%= f.password_field :password%><br/>
    </div>
  </div>
  <div class="row">
    <div class ="small-5 small-centered columns">
      <%= f.label "Confirm Password", class: "label"%><br/>
      <%= f.password_field :confirm%><br/>
    </div>
  </div>
  <div class="row">
    <div class="small-2 small-centered columns">
      <%= f.submit "Register", class: "button"%>
    </div>
  </div>
<%end%>
