<h1 class="small-3 small-centered columns"><%=@user.username%> </h1>
<div class="small-6 small-centered columns">
  <table>
    <tr>
      <th>id</td>
      <th>Username</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Updated At</th>
    <tr>
    <tr>
      <td><%=@user.id%></td>
      <td><%=@user.username%></td>
      <td><%=@user.email%></td>
      <td><%=@user.created_at%></td>
      <td><%=@user.updated_at%></td>
    </tr>
  </table>
</div>
<ul class="inline-list small-6 small-centered columns">
    <li><%=link_to 'edit', {:controller => :users, :action => 'edit', :id => @user.id}, :class => "button"%></li>
    <li><%=button_to 'delete', {:controller => :users, :action => 'destroy', :id => @user.id}, {:method => :delete, :class => "button"}%></li>
</ul>

