<%provide(:title,"New Project")%>
<%=form_for @proj do |f|%>
  <div class="row">
      <div class="small-5 small-centered columns">
        <%= f.label "Project Name",class:"label"%><br/>
        <%= f.text_field :project_name%><br/>
    </div>
  </div>
  <div class="row">
      <div class="small-5 small-centered columns">
        <%= f.label "Customer",class:"label"%><br/>
        <%= f.collection_select :customer_id, Customer.all, :id, :company%><br/>
      </div>
  </div>
  <div class="row">
    <div class="small-2 small-centered columns">
      <%= f.submit "Update", class: "button"%>
    </div>
  </div>
<%end%>
